<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet"  href="P003.css">
</head>
<body>
 <div class="header">
 	<h1>ByCrew</h1>
 	<p style="color: red">Derechos reservados por Byrextar</p>
 </div>
 
 <div class="menu">
 	<a href="">Menu 1</a>
    <a href="">Menu 2</a>
    <a href="">Menu 3</a>
    <a href="">Menu 4</a>
</div>

  <div class="contenido">
    <div class="izquierda">
      <div class="item">
	<h2><p style="color: red;">Videos</p></h2>
	<h5><p style="color: red;">Redes Sociales</p></h5></p>
	<img src="html5.jpg" alt="100px" class="">	
	 </div>
   </div>
<div class="derecha">
	<h2><p style="color: red;">Informacion</p></h2>
	<img src="html4.jpg" alt="" width="200px">


</div>

<div class="footer">
	<h2><p style="color: red;"> &copy 2019</p></h2>
</div>

</body>
</html>